name: "Continuous Integration"

on:
  pull_request:
    branches:
      - main
      - alpha-release
  push:
    branches:
      - main
  pull_request_review:

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  continuous-integration:
    name: "Continuous Integration"
    runs-on: ubuntu-24.04
    if: github.event_name != 'pull_request_review' ||  github.event.pull_request.head.ref == 'changeset-release/main'

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check formatting and Linting
        run: pnpm style:check

      - name: Check types
        run: pnpm types:check

      - name: Test
        run: pnpm test

